<div class="card">
    <div class="card-body">
        <form #postForm="ngForm" (ngSubmit)="onAddPost()">
            <div class="form-group">
                <label for="title">Title</label>
                <input
                ngModel
                required
                name="title"
                 type="text" class="form-control">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" id="description" ngModel required class="form-control"></textarea>
            </div>
            <button type="submit" *ngIf="!isInEditMode" class="btn btn-block btn-primary">Add Post</button>
             <button  type="button" *ngIf="isInEditMode" class="btn btn-block btn-warning" (click)="onUpdate()">Update Post</button>
        </form>
    </div>
</div>